@use '../variables.scss' as vars;

$notFoundBoxShdw: 0 6px 12px rgba(0, 0, 0, 0.1);
$homeBtnShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$focusBtn: 0 0 0 3px rgba(53, 53, 211, 0.5);

@mixin notFoundFlexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
}

.not-found {
  @include notFoundFlexContainer();
  padding: 40px;
  background-color: vars.$main-background;
  box-shadow: $notFoundBoxShdw;
  border-radius: 12px;
  border: 1px solid vars.$border-color;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  &.search {
    width: 100%;
  }

  .not-found__image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  .not-found__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: vars.$not-found-title-color;
    margin-bottom: 10px;
  }

  .not-found__description {
    color: vars.$not-found-text-color;
  }

  a,
  #go-home-button {
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
    color: vars.$white;
    font-size: 1.1rem;
    display: inline-block;
    padding: 12px 24px;
    background-color: vars.$not-found-page-button;
    border-radius: 8px;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: $homeBtnShadow;

    &:hover {
      background-color: vars.$not-found-page-button;
      transform: scale(1.05);
    }

    &:focus {
      outline: none;
      box-shadow: $focusBtn;
    }
  }
}
