$navigation-background: #1e5cbe;
$navigation-underline-background: #1450af;
$navigation-active-unerline-background: #5591ff;
$navigation-inactive-unerline-background: #ecf1fa;
$navigation-button-background: #1450af;
$navigation-button-background-mobile: #0a41a5;

$header-text-color: #959595;
$font-size-medium: 16px;
$search-button-background: #1955b6;


$search-button-background: #5591ff;
$search-button-color: #7c838c;
$search-button-color-inactive: #ced3da;
$search-button-border-color: #dee6ea;
$main-background: #f5f5fa;
$white: #ffffff;
$border-color: #e0e8ec;
$link-color: #1950af;

$text-logo-color: #6f96d6;
$text-main-color: #4d535d;
$not-found-text-color: #b6b6b6;
$not-found-title-color: #929292;

$user-detail-copy-img-color: #f0f0f5;
$user-detail-copy-img-text: #b4bac4;
$user-detail-header-color: #95a0a9;
$userCardshadow: 0 4px 12px rgba(0, 0, 0, 0.1);

$not-found-page-button: #5091ff;

$sign-in-container-backgrpound-color: #dfdfdf;

$edit-list-background-color: #fafafa;
$active-user: #3498db;
