.editable-field {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  line-height: 1.6;
  color: #444;
  font-size: 16px;
  align-items: center;
}
.icon__label-wrapper,
.desc-wrapper {
  flex: 1;
}
